@font-face {
  font-family: "Californian";
  src: url("../../assets/font/CALIFB.TTF") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "CalifornianBold";
  src: url("../../assets/font/CALIFB.TTF") format("truetype");
  font-weight: normal;
  font-style: normal;
}
.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: start;
  background-image: url("../../assets/images/header-background.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 700px;
}
.header__logo {
  z-index: 3;
  margin-top: 50px;
}
.header__logo img {
  width: 150px;
}
.header .header__arrows {
  z-index: 3;
  margin-top: auto;
  margin-bottom: 30px;
  animation: opacityAnimation 3s infinite;
}
@keyframes opacityAnimation {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0.6;
  }
  100% {
    opacity: 1;
  }
}

@media (min-width: 300px) and (max-width: 700px) {
  .header__logo {
    margin-top: 50px;
  }
}
@media (min-width: 1850px) {
  .header__logo {
    margin-top: 25px;
  }
}
.main {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
  margin-top: 60px;
}

.main__container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 70%;
}
.main__container h2 {
  text-align: center;
}
.main__container .main__textBlock {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 70%;
  font-family: "CalifornianBold";
}
.main__container .main__textBlock div {
  width: 75%;
  margin-top: 40px;
  color: #616161;
  text-align: center;
}

.content {
  display: grid;
  width: 100%;
  grid-template-columns: 1fr 1fr;
  gap: 60px;
  margin-top: 80px;
}
.content__indentDownRightBlock {
  margin-top: 20px;
}
.content__cards_left {
  grid-column: 1;
}
.content__cards_left img {
  width: 100%;
}
.content__cards_left h3 {
  font-size: 35px;
  font-family: "Californian";
}
.content__cards_left p {
  font-family: "Californian";
}
.content__cards_left div {
  margin-bottom: 60px;
}
.content__cards_left p {
  margin: 0 0 20px 0;
  color: #616161;
}
.content__cards_left h3 {
  margin: 40px 0 25px 0;
}
.content__cards_right {
  grid-column: 2;
}
.content__cards_right img {
  width: 100%;
}
.content__cards_right h3 {
  font-size: 35px;
  font-family: "Californian";
}
.content__cards_right p {
  font-family: "Californian";
}
.content__cards_right div {
  margin-bottom: 60px;
}
.content__cards_right p {
  margin: 0 0 40px 0;
  color: #616161;
}
.content__cards_right h3 {
  margin: 0 0 25px 0;
}
.content img {
  transition: opacity 0.4s ease;
}
.content img:hover {
  opacity: 0.7;
  cursor: pointer;
}

@media (min-width: 300px) and (max-width: 700px) {
  main {
    margin-top: 0px !important;
  }
  .main__container {
    width: 100%;
  }
  .main__container .main__textBlock {
    width: 90%;
    margin-top: 20px;
  }
  .content {
    grid-template-columns: 1fr;
    gap: 0px;
  }
  .content__cards_left {
    grid-column: 1;
  }
  .content__cards_right {
    grid-column: 1;
  }
  .content h3 {
    font-size: 25px;
  }
}
@media (min-width: 700px) and (max-width: 900px) {
  .main__container {
    width: 85%;
  }
  .content h3 {
    font-size: 25px;
  }
}
.footer {
  display: flex;
  justify-content: center;
  width: 100%;
  background-color: #fafafa;
}

.footer__textBlock {
  width: 40%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.footer__textBlock h3 {
  text-align: center;
  font-size: 35px;
  font-family: "CalifornianBold";
}
.footer__textBlock p {
  text-align: center;
  margin-bottom: 30px;
}

.footer__addit-info {
  display: flex;
  justify-content: center;
  width: 100%;
}
.footer__addit-info div {
  width: 50%;
  margin-top: 50px;
  text-align: center;
}

@media (min-width: 300px) and (max-width: 700px) {
  .footer__textBlock {
    width: 80%;
  }
  .footer__addit-info div {
    width: 80%;
  }
}
body {
  margin: 0;
  padding: 0;
  height: 100vh;
  background-color: white;
}

.container {
  margin: 0 40px;
}

a {
  text-decoration: none;
  color: inherit;
}

.nav-menu {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}
.nav-menu ul {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  list-style: none;
  padding: 0;
}
.nav-menu ul li {
  font-family: "Californian";
  color: #616161;
  font-size: 15px;
}
.nav-menu ul li:hover {
  color: #b8b771;
}

@media (min-width: 300px) and (max-width: 500px) {
  .container {
    margin: 0 10px;
  }
  .nav-menu ul {
    width: 90%;
  }
  .nav-menu ul li {
    font-size: 9px;
  }
}

/*# sourceMappingURL=styles.css.map */
