.footer {
  display: flex;
  justify-content: center;
  width: 100%;
  background-color: #fafafa;
}

.footer__textBlock {
  width: 40%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  h3 {
    text-align: center;
    font-size: 35px;
    font-family: "CalifornianBold";
  }
  p {
    text-align: center;
    margin-bottom: 30px;
  }
}

.footer__addit-info {
  display: flex;
  justify-content: center;
  width: 100%;

  div {
    width: 50%;
    margin-top: 50px;
    text-align: center;
  }
}

@media (min-width: 300px) and (max-width: 700px) {
  .footer__textBlock {
    width: 80%;
  }
  .footer__addit-info {

    div {
      width: 80%;
    }
  }
}
