.header {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
    background-image: url("../../assets/images/header-background.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 700px;
  
    &__logo {
      z-index: 3;
      margin-top: 50px;
      img {
        width: 150px;
      }
    }
  
    .header__arrows {
      z-index: 3;
      margin-top: auto;
      margin-bottom: 30px;
      animation: opacityAnimation 3s infinite;
      @keyframes opacityAnimation {
        0% {
          opacity: 1;
        }
        50% {
          opacity: 0.6;
        }
        100% {
          opacity: 1;
        }
      }
    }
  }