@font-face {
    font-family: 'Californian';
    src: url('../../assets/font/CALIFB.TTF') format('truetype');
    font-weight: normal;
    font-style: normal;
  }
  
@font-face {
    font-family: 'CalifornianBold';
    src: url('../../assets/font/CALIFB.TTF') format('truetype');
    font-weight: normal;
    font-style: normal;
  }
  